*{
    margin: 0;
    padding: 0;
}
#header{
    background-color: seagreen;
    padding: 30px 30px 30px;
    
    
}
body{
    font-family:'Times New Roman', Times, serif;
    background-color: #BBE6E4;
}
h1{
    font-family: monospace;
    text-align: center;
}
#about{
    font-size: large;
    color:#f7f7f7;
    text-align:justify;
    margin-top: 150px;
}  

#skills-title{
    font-family: monospace;
}
.skill-obj{
    font-size: 20px;
    color: #2C4251;
}
#social{
    color: seagreen;
}
#photo{
    margin-top: -30px;
    float: left;
    border-radius: 100%;
}
#content{
    margin: auto;
    padding: 30px 30px 30px;

}

li:nth-child(odd){
    font-style: italic;
}